package ${package}.domain;


#foreach ($column in $columns)
#if($column.attrType == 'Date')
import java.util.Date;
import com.fasterxml.jackson.annotation.JsonFormat;
#end
#if($column.attrType == 'BigDecimal')
import java.math.BigDecimal;
#end
#end

/**
 * ${tableComment}表 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}
{
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	/** $column.columnComment */
#if($column.attrType == 'Date')
	@JsonFormat(pattern="yyyy-MM-dd HH:mm:ss",timezone = "GMT+8")
#end
	private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)
	public void set${column.attrName}($column.attrType $column.attrname) 
	{
		this.$column.attrname = $column.attrname;
	}

	public $column.attrType get${column.attrName}() 
	{
		return $column.attrname;
	}
#end


}
